Repository fluxcd/image-reflector-controller, pull requests merged in 2022-01, with the labels that each got.

#215 Add various instructions on development documentation
  DEVELOPMENT.md
Labels: documentation

#190 Update Go to v1.17
  .github/workflows/build.yaml
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha2/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/image.toolkit.fluxcd.io_imagepolicies.yaml
  config/crd/bases/image.toolkit.fluxcd.io_imagerepositories.yaml
  controllers/imagepolicy_controller.go
  controllers/imagerepository_controller.go
  go.mod
  go.sum
Labels: area/build

#218 Fix makefile envtest and controller-gen usage
  .github/workflows/build.yaml
  .gitignore
  Makefile
Labels: area/build

#221 Refactor Fuzz implementation
  .github/workflows/cifuzz.yaml
  .gitignore
  Makefile
  tests/fuzz/Dockerfile.builder
  tests/fuzz/README.md
  tests/fuzz/fuzz_controllers.go
  tests/fuzz/go.mod
  tests/fuzz/oss_fuzz_build.sh
  tests/fuzz/oss_fuzz_run.sh
Labels: area/build

#223 Drop capabilities, enable seccomp and enforce runAsNonRoot
  Dockerfile
  config/manager/deployment.yaml
Labels: area/build

#194 Get credentials from GCP/Azure when needed
  .github/workflows/scan.yml
  controllers/imagerepository_controller.go
  docs/spec/v1beta1/imagerepositories.md
  go.mod
  go.sum
  internal/azure/exchanger.go
  main.go
Labels: enhancement

#227 Publish SBOM and sign release artifacts
  .github/workflows/build.yaml
  .github/workflows/cifuzz.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yml
  .github/workflows/scan.yml
  .goreleaser.yaml
  config/manager/deployment.yaml
Labels: enhancement, area/build

#228 Allow disabling cross-namespace references to image repositories
  api/go.mod
  api/go.sum
  api/v1beta1/imagerepository_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/image.toolkit.fluxcd.io_imagerepositories.yaml
  controllers/imagepolicy_controller.go
  controllers/policy_test.go
  docs/api/image-reflector.md
  go.mod
  go.sum
  main.go
Labels: enhancement

#219 Clarify ECR Auto-login note, fix CanonicalImageName typos
  docs/spec/v1alpha2/imagerepositories.md
  docs/spec/v1beta1/imagerepositories.md
Labels: area/docs
